@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Raleway:wght@600&display=swap");
body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: black;
  background-image: url(ressources/fond-jour/jour.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.hours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  scroll-padding: 0 20px;
  overflow: scroll;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  margin-bottom: 20px;
}

.hours > figure {
  -webkit-margin-before: 10px;
          margin-block-start: 10px;
  margin: 10px;
  width: 100px;
  height: 100px;
  background-color: rgba(245, 245, 245, 0.4);
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 9px;
  scroll-snap-align: start;
}

header > .header {
  min-height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

img.logo-meteo {
  height: 200px;
  width: 200px;
}

figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

img.logo-meteo-hourly {
  height: 40px;
  width: 40px;
}

img.logo-meteo-daily {
  height: 40px;
  width: 40px;
}

h1 {
  margin: 30px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 24px;
}

.block-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.block-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-info .temps {
  font-size: 20px;
}

.block-info .temps::first-letter {
  text-transform: capitalize;
}

.block-info .temperature {
  font-size: 30px;
}

.block-info .localisation {
  font-size: 20px;
}

p {
  font-weight: 400;
  text-align: center;
  margin: 10px;
  color: black;
}

.days > .day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 320px;
  min-height: 70px;
  background-color: rgba(245, 245, 245, 0.4);
  border-radius: 9px;
  margin: 25px 20px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.days > .day > p {
  font-weight: 400;
  padding-top: 10px;
  margin: 10px;
  text-align: start;
}
/*# sourceMappingURL=style.css.map */